.nav-wrap-doc {
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}

.nav-doc-header {
  display: flex;
  align-items: center;
}

.nav-doc-head {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--info);
}

.nav-icon-doc {
  color: var(--black);
  font-size: 1.5rem;
}

.nav-icon-doc:hover {
  color: var(--bg-black);
}

.hero-container {
  padding: 5rem 0;
  /* margin: 3rem 0 3rem 0; */
  background-color: var(--info-bg-light);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
}

.hero-text {
  color: var(--black);
 flex: 40%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.btn-doc{
  font-size: 1.2rem ;
  background-color: var(--bg-color);
}

.btn-doc-cta {
  border: 1.5px solid var(--info);
  background-color: #fedd6d;
  font-weight: 500;
}

.btn-doc-cta:hover {
  background-color: #ffe797;
}

.btn-doc-shadow {
  box-shadow: 2px 2px 2px var(--gray);
}

.foot {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fedd6d;
}

.foot-icon {
  display: flex;
}

.logo {
  max-height: 40px;
  margin: 0 0.5rem 0 2rem;
}

