@import url("/stylesheets/main.css");

.grid-cont{
display: grid;
gap: 2px;
margin: 0.5rem;
}

.grid-item{
    border: 1px solid var(--info);
    padding: 0.5rem;
    background-color: var(--info-bg-light);
    border-radius: 0.1rem;
}

.grid-2-col{
    grid-template-columns: 1fr 1fr;
}

.grid-3-col{
    grid-template-columns: 1fr 1fr 1fr;
}