@import url("/stylesheets/main.css");

.demo-cont {
  margin: 1rem;
}

.nav-wrap {
  padding: 0.2rem;
  background-color: var(--oc-primary);
  color: var(--bg-white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dark {
  background-color: var(--bg-black);
}

.nav-icon-wrap {
  margin: 0.5rem;
  display: flex;
  margin-left: auto;
}

.nav-head {
  font-size: 1.8rem;
  margin: 0 0.5rem 0 0.5rem;
}

.nav-icon {
  font-size: 1.5rem;
  margin: 1rem;
}

.nav-icon-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.4rem;
}

.nav-icon-text {
  padding: 0.1rem;
  font-size: 0.6rem;
}

.nav-search-wrap{
  display: flex;
  justify-content: space-between;
}

.nav-search-holder-icon{
  background-color: var(--bg-white);
  display: flex;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 0.1rem;
}

.nav-search-icon{
  color: black;
}