@import url("/stylesheets/main.css");

.slider{
    width: 70%;
    margin: 1rem;
    padding: 0.5rem;
}

input[type='range'] {
    -webkit-appearance: none;
    background:var(--info-bg-light);
    border: 1px solid var(--info);
    height:2px;
    border-radius: 0.3rem;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:var(--info);
    height:15px;
    width:17px;
    border-radius: 30%;
}
