.flex {
  display: flex;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-space-btw {
  justify-content: space-between;
}

.flex-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-justify-space-around {
  justify-content: space-around;
}
