@import url("/stylesheets/main.css");

.nav-wrap-doc{
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.text-black{
    color: var(--bg-black);
}

.aside{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--bg-white);
    flex: 25%;
    align-self: start;
    position:  -webkit-sticky;
    position: sticky;
    top: 8rem;
}

.aside-header{
font-weight: 600;

}

.aside-element{
padding: 0.5rem;
font-weight: 600;
color: var(--info);
}

.aside-element:hover{
   color: var(--info-dark);
}

.main-wrap{
    display: flex;
}

.main{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--bg-white);
    flex: 75%;
}

.nav-foot{
    margin: 1rem 0 1rem 0;
    color: var(--info);
    display: flex;
    justify-content: space-between;
}

.nav-foot-pill{
    display: flex;
    align-items: center;
    gap: 5%;
}

/* @media screen and (max-width:650px) {
    .aside{
        display: none;
    }
} */
